# Grocery store analysis
 - Name : Siddhant Oswal
 - Division - B-35

In [29]:
# Setup
import pandas as pd

In [30]:
# Reading the datasets
sales_2017_df = pd.read_csv("Australian_Grocery_Store_Data_2017.csv")
sales_2018_df = pd.read_csv("Australian_Grocery_Store_Data_2018.csv")
sales_2017_df.sort_values("receipt_id").head(3)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin
95656,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,1163,Brushed Potatoes 5kg bag,1.000,cash,4.5,4.99,0.49
14443,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,2010,Banana Cavendish,1.364,cash,2.0,1.99,-0.01
91984,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,1008,Broccoli,0.626,cash,0.0,3.50,3.50

In [31]:
sales_2018_df.sort_values("receipt_id").head(3)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin
18180,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,2032,Orange navel,1.426,cash,0.0,2.99,2.99
9272,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,2010,Banana Cavendish,1.436,cash,2.0,1.99,-0.01
22346,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,9332769000139,Eggs 700g,1.000,cash,2.7,3.20,0.50

In [32]:
# Concatinating the datasets
sales_df = pd.concat([sales_2017_df, sales_2018_df], ignore_index = False)
sales_df.sort_values("receipt_id").head(3)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin
14443,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,2010,Banana Cavendish,1.364,cash,2.0,1.99,-0.01
95656,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,1163,Brushed Potatoes 5kg bag,1.000,cash,4.5,4.99,0.49
1171,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,2002,Apples Granny Smith,0.352,cash,0.0,3.00,3.00

In [33]:
categories_df = pd.read_csv("Australian_Grocery_Store_Data_Only_Items_Categories.csv")
categories_df.head(15)

                      item_name  main_category sub_category
0          2kg Royal gala apple  Fresh Produce       Apples
1    Apple Granny Smith 1kg bag  Fresh Produce       Apples
2   Apple Granny smith 2kg Bags  Fresh Produce       Apples
3                    apple Jazz  Fresh Produce       Apples
4                Apple Jonathan  Fresh Produce       Apples
5    Apple pink lady 1kg Punnet  Fresh Produce       Apples
6           apple pink lady 2kg  Fresh Produce       Apples
7                   Apples Fuji  Fresh Produce       Apples
8       Apples Golden Delicious  Fresh Produce       Apples
9           Apples Granny Smith  Fresh Produce       Apples
10             Apples Pink Lady  Fresh Produce       Apples
11         Apples Red Delicious  Fresh Produce       Apples
12            Apples Royal Gala  Fresh Produce       Apples
13          Crimson Snow Apples  Fresh Produce       Apples
14          Firm Gold Apple 2kg  Fresh Produce       Apples

In [34]:
sales_df = pd.merge(sales_df, categories_df, how = "left", on = ["item_name"])
sales_df.head(5)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2/17/2017 12:17:17 AM,2003,Apples Pink Lady,0.140,cash,0.0,2.99,2.99,Fresh Produce,Apples
1,65d59c3b-b474-482f-8779-3249d6fee305,2/2/2017 10:14:16 PM,2003,Apples Pink Lady,0.146,cash,0.0,2.99,2.99,Fresh Produce,Apples
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2/21/2017 2:11:10 AM,2003,Apples Pink Lady,0.150,cash,0.0,2.99,2.99,Fresh Produce,Apples
3,3399ecfd-f809-4653-9310-d41015e09f8a,1/10/2017 3:11:14 AM,2003,Apples Pink Lady,0.152,cash,0.0,2.99,2.99,Fresh Produce,Apples
4,085663fa-1fde-4ffc-adfc-527599065a87,2/3/2017 2:16:10 AM,2003,Apples Pink Lady,0.162,cash,0.0,2.99,2.99,Fresh Produce,Apples

In [35]:
sales_df["item_name"] = sales_df["item_name"].str.title()
sales_df["payment_type"] = sales_df["payment_type"].str.title()
sales_df["main_category"] = sales_df["main_category"].str.title()
sales_df["sub_category"] = sales_df["sub_category"].str.title()
sales_df.sort_values("receipt_id").head(15)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category
14443,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,2010,Banana Cavendish,1.364,Cash,2.00,1.99,-0.01,Fresh Produce,Bananas
95656,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,1163,Brushed Potatoes 5Kg Bag,1.000,Cash,4.50,4.99,0.49,Fresh Produce,Potatoes
1171,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,2002,Apples Granny Smith,0.352,Cash,0.00,3.00,3.00,Fresh Produce,Apples
88419,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,2124,Mango 2For 3.00,1.000,Cash,0.00,3.00,3.00,Fresh Produce,Deals
94804,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,1073,Potato Desiree,1.370,Cash,0.00,2.99,2.99,Fresh Produce,Potatoes
91984,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,1008,Broccoli,0.626,Cash,0.00,3.50,3.50,Fresh Produce,Other Vegies
132330,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,9322670000014,Carrots 1Kg,1.000,Cash,0.80,1.49,0.69,Fresh Produce,Carrots
219496,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,9332769000139,Eggs 700G,1.000,Cash,2.70,3.20,0.50,"Dairy, Cheese, And Eggs",Eggs
206422,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,2010,Banana Cavendish,1.436,Cash,2.00,1.99,-0.01,Fresh Produce,Bananas
215330,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,2032,Orange Navel,1.426,Cash,0.00,2.99,2.99,Fresh Produce,Citrus Fruits
79252,000321da-e88c-4156-ab78-ea46cbf178ed,5/8/2017 2:05:04 PM,4040,Onion Shallots,0.108,Cash,5.00,6.99,1.99,Fresh Produce,Onions
187182,000321da-e88c-4156-ab78-ea46cbf178ed,5/8/2017 2:05:04 PM,1016,Capsicum Green,0.174,Cash,0.00,4.99,4.99,Fresh Produce,Capsicum
86270,000321da-e88c-4156-ab78-ea46cbf178ed,5/8/2017 2:05:04 PM,1099,Zucchini Green,0.406,Cash,0.00,3.50,3.50,Fresh Produce,Other Vegies
121296,00032d46-cf9e-4b0b-b003-2f6bb5ab3e85,5/2/2017 1:33:13 PM,1071,Potato Brushed,1.140,Cash,2.25,2.50,0.25,Fresh Produce,Potatoes
155280,000376a6-21aa-4aff-8ae6-aab9aa5c9029,8/1/2017 1:47:42 PM,2086,Gold Honeydew,1.000,Magcard,2.50,4.00,1.50,Fresh Produce,Melons

In [36]:
# Adding the three columns total_buyin, total_selling, total_margin (got 3 bonus points)
sales_df["total_buying_price"] = sales_df["quantity"] * sales_df["unit_buying_price"]
sales_df["total_selling_price"] = sales_df["quantity"] * sales_df["unit_selling_price"]
sales_df["total_margin"] = sales_df["quantity"] * sales_df["unit_price_margin"]
sales_df.sort_values("receipt_id").head(5)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category,total_buying_price,total_selling_price,total_margin
14443,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,2010,Banana Cavendish,1.364,Cash,2.0,1.99,-0.01,Fresh Produce,Bananas,2.728,2.71436,-0.01364
95656,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,1163,Brushed Potatoes 5Kg Bag,1.000,Cash,4.5,4.99,0.49,Fresh Produce,Potatoes,4.500,4.99000,0.49000
1171,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,2002,Apples Granny Smith,0.352,Cash,0.0,3.00,3.00,Fresh Produce,Apples,0.000,1.05600,1.05600
88419,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,2124,Mango 2For 3.00,1.000,Cash,0.0,3.00,3.00,Fresh Produce,Deals,0.000,3.00000,3.00000
94804,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,1073,Potato Desiree,1.370,Cash,0.0,2.99,2.99,Fresh Produce,Potatoes,0.000,4.09630,4.09630

In [37]:
sales_df.loc[sales_df["quantity"] <= 1, "quantity_type"] = "single"
sales_df.loc[(sales_df["quantity"]>1) & (sales_df["quantity"] <= 10), "quantity_type"] = "regular"
sales_df.loc[sales_df["quantity"]>10, "quantity_type"] = "bulk"

In [38]:
sales_df.sample(15)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category,total_buying_price,total_selling_price,total_margin,quantity_type
242727,897c5d57-991a-4e93-9344-69ec88e31ea1,1/17/2018 10:27:30 AM,1099,Zucchini Green,0.238,Cash,0.00,3.50,3.50,Fresh Produce,Other Vegies,0.000,0.83300,0.83300,single
132419,e7a7eada-f3cc-4898-8828-2f947588c7bb,2/20/2017 12:31:10 AM,9322670000014,Carrots 1Kg,1.000,Cash,0.80,1.49,0.69,Fresh Produce,Carrots,0.800,1.49000,0.69000,single
130017,60fe5e72-ce5a-4050-9e54-a754aa66f79a,10/22/2017 3:03:52 PM,1173,Swedes Turnips,0.318,Cash,3.50,5.00,1.50,Fresh Produce,Root Vegies,1.113,1.59000,0.47700,single
165561,dbdd8fef-95c3-4922-97fc-df6be0e5b646,5/19/2017 9:15:05 AM,1071,Potato Brushed,0.536,Magcard,2.25,2.50,0.25,Fresh Produce,Potatoes,1.206,1.34000,0.13400,single
92254,103e6550-e649-414e-84d8-8b6e53e2ecad,1/18/2017 9:18:24 PM,1099,Zucchini Green,0.488,Cash,0.00,3.50,3.50,Fresh Produce,Other Vegies,0.000,1.70800,1.70800,single
338569,da7b3aeb-9089-454c-86bc-ae0941c3d9e8,9/4/2018 3:43:20 PM,1113,Field Tomatoes,0.590,Cash,1.60,2.99,1.39,Fresh Produce,Tomatoes,0.944,1.76410,0.82010,single
80751,8c4a87f8-4c6e-4de9-bd3d-aac457a9dba4,6/10/2017 10:24:29 AM,2062,Kiwi Fruit Gold,1.000,Cash,0.50,1.80,1.30,Fresh Produce,Other Fruits,0.500,1.80000,1.30000,single
39526,dc756195-ebef-4318-8212-7f582b0b07bf,1/3/2017 5:57:42 AM,9314820020553,Chick Peas 400G,2.000,Cash,0.91,1.29,0.38,Pantry Staples,Grains And Pulses,1.820,2.58000,0.76000,regular
111987,6f7f66e7-705a-4ec1-815f-f885b4a6f55e,9/3/2017 10:07:53 AM,2032,Orange Navel,0.784,Cash,0.00,2.99,2.99,Fresh Produce,Citrus Fruits,0.000,2.34416,2.34416,single
71680,b345f877-f977-4fe1-9a15-16c6526f2efc,2/9/2017 9:48:09 PM,1111,Tomatoes Truss,0.378,Cash,0.00,5.99,5.99,Fresh Produce,Tomatoes,0.000,2.26422,2.26422,single
229358,bf9f7205-1972-49f0-a7a3-66c17e54ce14,6/15/2018 11:30:21 AM,1089,Spinach Lettuce Mix,0.094,Cash,0.00,11.99,11.99,Fresh Produce,Lettuces,0.000,1.12706,1.12706,single
349212,2464fb40-23d0-410d-a109-b6af55288506,11/24/2018 10:41:12 AM,1081,Radish White,0.624,Magcard,0.00,2.99,2.99,Fresh Produce,Asian Vegies,0.000,1.86576,1.86576,single
329023,7fd7b801-98f0-46be-8a0e-4f5f376f2ac5,12/2/2018 10:04:52 AM,1152,Curry Leaves,1.000,Cash,0.00,2.00,2.00,Fresh Produce,Herbs,0.000,2.00000,2.00000,single
29654,dca29e4e-0272-4549-8c48-fbf554e02653,5/24/2017 11:34:37 AM,2010,Banana Cavendish,0.538,Cash,2.00,1.99,-0.01,Fresh Produce,Bananas,1.076,1.07062,-0.00538,single
140462,c7118331-9c1a-4ca9-bf47-7076498479f2,6/28/2017 12:15:02 PM,1017,Capsicum Red,0.198,Cash,0.00,4.99,4.99,Fresh Produce,Capsicum,0.000,0.98802,0.98802,single

In [39]:
sales_df.dtypes

receipt_id              object
date                    object
item_code                int64
item_name               object
quantity               float64
payment_type            object
unit_buying_price      float64
unit_selling_price     float64
unit_price_margin      float64
main_category           object
sub_category            object
total_buying_price     float64
total_selling_price    float64
total_margin           float64
quantity_type           object
dtype: object

In [40]:
sales_df["date"] = pd.to_datetime(sales_df["date"])
sales_df.dtypes

receipt_id                     object
date                   datetime64[ns]
item_code                       int64
item_name                      object
quantity                      float64
payment_type                   object
unit_buying_price             float64
unit_selling_price            float64
unit_price_margin             float64
main_category                  object
sub_category                   object
total_buying_price            float64
total_selling_price           float64
total_margin                  float64
quantity_type                  object
dtype: object

In [41]:
sales_df["year"] = sales_df["date"].dt.year
sales_df["quarter"] = sales_df["date"].dt.quarter
sales_df["month"] = sales_df["date"].dt.month_name()
sales_df["day"] = sales_df["date"].dt.day_name()
sales_df

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category,total_buying_price,total_selling_price,total_margin,quantity_type,year,quarter,month,day
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2017-02-17 00:17:17,2003,Apples Pink Lady,0.140,Cash,0.0,2.99,2.99,Fresh Produce,Apples,0.0,0.41860,0.41860,single,2017,1,February,Friday
1,65d59c3b-b474-482f-8779-3249d6fee305,2017-02-02 22:14:16,2003,Apples Pink Lady,0.146,Cash,0.0,2.99,2.99,Fresh Produce,Apples,0.0,0.43654,0.43654,single,2017,1,February,Thursday
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2017-02-21 02:11:10,2003,Apples Pink Lady,0.150,Cash,0.0,2.99,2.99,Fresh Produce,Apples,0.0,0.44850,0.44850,single,2017,1,February,Tuesday
3,3399ecfd-f809-4653-9310-d41015e09f8a,2017-01-10 03:11:14,2003,Apples Pink Lady,0.152,Cash,0.0,2.99,2.99,Fresh Produce,Apples,0.0,0.45448,0.45448,single,2017,1,January,Tuesday
4,085663fa-1fde-4ffc-adfc-527599065a87,2017-02-03 02:16:10,2003,Apples Pink Lady,0.162,Cash,0.0,2.99,2.99,Fresh Produce,Apples,0.0,0.48438,0.48438,single,2017,1,February,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372752,4abec176-1ca7-4b47-afc9-1679174161dd,2018-10-01 16:00:35,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,3.5,4.50000,1.00000,single,2018,4,October,Monday
372753,863d4c09-d00c-4fdc-b8c6-0733244699c5,2018-07-30 16:20:44,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,3.5,4.50000,1.00000,single,2018,3,July,Monday
372754,e9e84a1d-22ed-4302-8932-8ef52f9ac200,2018-12-12 13:27:30,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,3.5,4.50000,1.00000,single,2018,4,December,Wednesday
372755,85c16d9f-5407-4922-a3d6-fa8bbed80688,2018-08-17 15:44:24,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,3.5,4.50000,1.00000,single,2018,3,August,Friday
372756,b9d76d65-06d5-4e96-af68-c0f8f8d81566,2018-10-09 16:40:51,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,3.5,4.50000,1.00000,single,2018,4,October,Tuesday

# Items Analysis
- total_profit
- aveage selling_price
- etc

In [42]:
items_df = sales_df.groupby(["item_name", "main_category", "sub_category"]).agg(unit_buying_price = ("unit_buying_price", "mean"),
                                                                                unit_selling_price = ("unit_selling_price", "mean"),
                                                                                unit_price_margin = ("unit_price_margin", "mean"),
                                                                                quantity = ("quantity", "sum"),
                                                                                revenue = ("total_selling_price", "sum"),
                                                                                profit = ("unit_price_margin", "sum")).reset_index()
items_df

,item_name,main_category,sub_category,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
0,1Kg Olive Pack,Fresh Produce,Other Vegies,6.99,10.00,3.01,9.088,90.88000,30.10
1,1Lt Coconut Oil,Pantry Staples,Oil,0.28,14.00,13.72,80.000,1120.00000,439.04
2,1Lt Coconut Oil Ver,Pantry Staples,Oil,0.00,14.00,14.00,10.000,140.00000,126.00
3,2Kg Marsh Grapefruit,Fresh Produce,Citrus Fruits,3.00,5.00,2.00,141.000,705.00000,274.00
4,2Kg Royal Gala Apple,Fresh Produce,Apples,0.00,4.50,4.50,60.000,270.00000,270.00
...,...,...,...,...,...,...,...,...,...
1131,Yellow Mustard Seeds 100G,Pantry Staples,Spices,0.00,2.99,2.99,3.000,8.97000,8.97
1132,Yellow Split Peas 500G,Pantry Staples,Grains And Pulses,1.40,1.99,0.59,60.000,119.40000,34.22
1133,Zafarelli,Fresh Produce,Bunch Vegies,1.00,1.50,0.50,12.000,18.00000,4.50
1134,Zucchini Green,Fresh Produce,Other Vegies,0.00,3.50,3.50,2406.733,8423.56550,16110.50
1135,Zucchini Lebanese,Fresh Produce,Other Vegies,0.00,3.49,3.49,1.708,5.96092,10.47

In [43]:
top_50_items_revenue = items_df.sort_values("revenue", ascending = False).head(50)
top_50_items_revenue

,item_name,main_category,sub_category,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
61,Banana Cavendish,Fresh Produce,Bananas,2.00,1.99,-0.01,24348.693,48453.89907,-248.39
1100,Watermelon Seedless,Fresh Produce,Melons,1.00,1.49,0.49,20791.036,30978.64364,3997.42
442,Field Tomatoes,Fresh Produce,Tomatoes,1.60,2.99,1.39,7428.811,22212.14489,15412.32
424,Eggplant,Fresh Produce,Other Vegies,0.00,6.99,6.99,2797.440,19554.10560,30084.96
178,Cherries,Fresh Produce,Other Fruits,0.00,15.99,15.99,1113.293,17801.55507,37016.85
426,Eggs 700G,"Dairy, Cheese, And Eggs",Eggs,2.70,3.20,0.50,4926.000,15763.20000,1726.00
591,Lettuce Iceberg,Fresh Produce,Lettuces,0.00,2.50,2.50,5812.000,14530.00000,12567.50
33,Apples Pink Lady,Fresh Produce,Apples,0.00,2.99,2.99,4273.474,12777.68726,13978.25
270,Cucumber Lebanese,Fresh Produce,Cucumbers,0.00,4.99,4.99,2476.144,12355.95856,29076.73
155,Capsicum Red,Fresh Produce,Capsicum,0.00,4.99,4.99,2407.521,12013.52979,32085.70
864,Potato Sweet Gold,Fresh Produce,Potatoes,0.00,2.99,2.99,3812.922,11400.63678,15512.12
813,Pear Packham,Fresh Produce,Pears,2.00,2.99,0.99,3600.093,10764.27807,3769.92
780,Papaya Red,Fresh Produce,Tropical Fruits,0.00,5.00,5.00,2128.820,10644.10000,10625.00
765,Orange Navel,Fresh Produce,Citrus Fruits,0.00,2.99,2.99,3451.104,10318.80096,9358.70
640,Mandarin Imperial,Fresh Produce,Citrus Fruits,1.00,2.50,1.50,4121.470,10303.67500,7408.50
1059,Tomatoes Truss,Fresh Produce,Tomatoes,0.00,5.99,5.99,1717.310,10286.68690,17107.44
858,Potato Brushed,Fresh Produce,Potatoes,2.25,2.50,0.25,4087.434,10218.58500,962.25
747,Okra,Fresh Produce,Asian Vegies,8.35,9.99,1.64,1004.205,10032.00795,4573.96
875,Pumpkin Japanese/Kent,Fresh Produce,Pumpkins,0.00,1.99,1.99,4884.189,9719.53611,8459.49
866,Potatoes Red 5Kg,Fresh Produce,Potatoes,0.00,6.00,6.00,1602.000,9612.00000,9378.00
738,Nectarine White,Fresh Produce,Stonefruits,1.20,2.99,1.79,3209.975,9597.82525,6846.75
503,Grapes Black,Fresh Produce,Grapes,0.00,3.99,3.99,2384.434,9513.89166,12069.75
122,Broccoli,Fresh Produce,Other Vegies,0.00,3.50,3.50,2544.840,8906.94000,18438.00
90,Berries Strawberry (Medium),Fresh Produce,Berries,0.00,2.50,2.50,3444.000,8610.00000,6882.50
269,Cucumber Continental,Fresh Produce,Cucumbers,0.00,1.50,1.50,5720.000,8580.00000,6631.50
265,Crimson Grapes,Fresh Produce,Grapes,0.00,4.99,4.99,1710.352,8534.65648,11282.39
865,Potato Washed,Fresh Produce,Potatoes,0.00,2.99,2.99,2845.250,8507.29750,9505.21
1058,Tomatoes Roma,Fresh Produce,Tomatoes,0.00,4.99,4.99,1703.746,8501.69254,15159.62
1134,Zucchini Green,Fresh Produce,Other Vegies,0.00,3.50,3.50,2406.733,8423.56550,16110.50
721,Mushroom Cup,Fresh Produce,Mushrooms,5.00,8.99,3.99,933.177,8389.26123,13845.30
762,Onion Spring,Fresh Produce,Bunch Vegies,0.60,1.50,0.90,5586.000,8379.00000,4459.50
859,Potato Desiree,Fresh Produce,Potatoes,0.00,2.99,2.99,2797.904,8365.73296,8659.04
169,Cauliflower,Fresh Produce,Other Vegies,2.00,2.99,0.99,2787.136,8333.53664,2595.78
249,Coriander,Fresh Produce,Herbs,0.00,1.99,1.99,4105.000,8168.95000,6988.88
30,Apples Fuji,Fresh Produce,Apples,0.00,3.99,3.99,2030.770,8102.77230,8622.39
755,Onion Brown 2Kg Large,Pantry Staples,Condiments,3.50,4.50,1.00,1731.000,7789.50000,1697.00
582,Leek,Fresh Produce,Other Vegies,1.00,2.00,1.00,3815.000,7630.00000,2678.00
172,Celery,Fresh Produce,Bunch Vegies,0.00,2.99,2.99,2496.000,7463.04000,7122.18
35,Apples Royal Gala,Fresh Produce,Apples,0.00,3.00,3.00,2476.879,7430.63700,8232.00
32,Apples Granny Smith,Fresh Produce,Apples,0.00,3.00,3.00,2447.338,7342.01400,8082.00
81,Beans Green,Fresh Produce,Other Vegies,0.00,4.99,4.99,1422.583,7098.68917,20129.66
1096,Wash Potatoes 5Kg,Fresh Produce,Potatoes,0.00,6.00,6.00,1148.000,6888.00000,6594.00
986,Spinach Bunch,Fresh Produce,Bunch Vegies,0.00,3.00,3.00,2295.000,6885.00000,5952.00
89,Berries Strawberry (Large),Fresh Produce,Berries,3.33,3.80,0.47,1675.000,6365.00000,621.34
472,Garlic Chinese 500G,Fresh Produce,Onions,0.00,2.50,2.50,2512.000,6280.00000,5835.00
804,Peaches White,Fresh Produce,Stonefruits,0.00,3.50,3.50,1771.921,6201.72350,8396.50
507,Grapes White Seedless,Fresh Produce,Grapes,0.00,2.99,2.99,2041.871,6105.19429,7211.88
832,Pineapple,Fresh Produce,Tropical Fruits,0.00,4.50,4.50,1322.000,5949.00000,5310.00
474,Garlic Loose,Fresh Produce,Garlic,0.00,10.00,10.00,583.224,5832.24000,41770.00
739,Nectarine Yellow,Fresh Produce,Stonefruits,0.00,2.99,2.99,1899.376,5679.13424,7702.24

In [44]:
top_50_items_quantity = items_df.sort_values("quantity", ascending = False).head(50)
top_50_items_quantity

,item_name,main_category,sub_category,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
61,Banana Cavendish,Fresh Produce,Bananas,2.00,1.99,-0.01,24348.693,48453.89907,-248.39
1100,Watermelon Seedless,Fresh Produce,Melons,1.00,1.49,0.49,20791.036,30978.64364,3997.42
442,Field Tomatoes,Fresh Produce,Tomatoes,1.60,2.99,1.39,7428.811,22212.14489,15412.32
591,Lettuce Iceberg,Fresh Produce,Lettuces,0.00,2.50,2.50,5812.000,14530.00000,12567.50
269,Cucumber Continental,Fresh Produce,Cucumbers,0.00,1.50,1.50,5720.000,8580.00000,6631.50
762,Onion Spring,Fresh Produce,Bunch Vegies,0.60,1.50,0.90,5586.000,8379.00000,4459.50
426,Eggs 700G,"Dairy, Cheese, And Eggs",Eggs,2.70,3.20,0.50,4926.000,15763.20000,1726.00
875,Pumpkin Japanese/Kent,Fresh Produce,Pumpkins,0.00,1.99,1.99,4884.189,9719.53611,8459.49
33,Apples Pink Lady,Fresh Produce,Apples,0.00,2.99,2.99,4273.474,12777.68726,13978.25
640,Mandarin Imperial,Fresh Produce,Citrus Fruits,1.00,2.50,1.50,4121.470,10303.67500,7408.50
249,Coriander,Fresh Produce,Herbs,0.00,1.99,1.99,4105.000,8168.95000,6988.88
858,Potato Brushed,Fresh Produce,Potatoes,2.25,2.50,0.25,4087.434,10218.58500,962.25
582,Leek,Fresh Produce,Other Vegies,1.00,2.00,1.00,3815.000,7630.00000,2678.00
864,Potato Sweet Gold,Fresh Produce,Potatoes,0.00,2.99,2.99,3812.922,11400.63678,15512.12
163,Carrots 1Kg,Fresh Produce,Carrots,0.80,1.49,0.69,3638.000,5420.62000,2385.33
813,Pear Packham,Fresh Produce,Pears,2.00,2.99,0.99,3600.093,10764.27807,3769.92
765,Orange Navel,Fresh Produce,Citrus Fruits,0.00,2.99,2.99,3451.104,10318.80096,9358.70
90,Berries Strawberry (Medium),Fresh Produce,Berries,0.00,2.50,2.50,3444.000,8610.00000,6882.50
738,Nectarine White,Fresh Produce,Stonefruits,1.20,2.99,1.79,3209.975,9597.82525,6846.75
865,Potato Washed,Fresh Produce,Potatoes,0.00,2.99,2.99,2845.250,8507.29750,9505.21
859,Potato Desiree,Fresh Produce,Potatoes,0.00,2.99,2.99,2797.904,8365.73296,8659.04
424,Eggplant,Fresh Produce,Other Vegies,0.00,6.99,6.99,2797.440,19554.10560,30084.96
169,Cauliflower,Fresh Produce,Other Vegies,2.00,2.99,0.99,2787.136,8333.53664,2595.78
873,Pumpkin Butternut,Fresh Produce,Pumpkins,0.00,1.99,1.99,2663.542,5300.44858,4610.83
122,Broccoli,Fresh Produce,Other Vegies,0.00,3.50,3.50,2544.840,8906.94000,18438.00
472,Garlic Chinese 500G,Fresh Produce,Onions,0.00,2.50,2.50,2512.000,6280.00000,5835.00
172,Celery,Fresh Produce,Bunch Vegies,0.00,2.99,2.99,2496.000,7463.04000,7122.18
35,Apples Royal Gala,Fresh Produce,Apples,0.00,3.00,3.00,2476.879,7430.63700,8232.00
270,Cucumber Lebanese,Fresh Produce,Cucumbers,0.00,4.99,4.99,2476.144,12355.95856,29076.73
32,Apples Granny Smith,Fresh Produce,Apples,0.00,3.00,3.00,2447.338,7342.01400,8082.00
155,Capsicum Red,Fresh Produce,Capsicum,0.00,4.99,4.99,2407.521,12013.52979,32085.70
1134,Zucchini Green,Fresh Produce,Other Vegies,0.00,3.50,3.50,2406.733,8423.56550,16110.50
1015,Sweet Corn,Fresh Produce,Other Vegies,0.00,1.20,1.20,2404.000,2884.80000,1468.80
503,Grapes Black,Fresh Produce,Grapes,0.00,3.99,3.99,2384.434,9513.89166,12069.75
986,Spinach Bunch,Fresh Produce,Bunch Vegies,0.00,3.00,3.00,2295.000,6885.00000,5952.00
753,Onion Brown,Fresh Produce,Onions,0.00,1.99,1.99,2267.319,4511.96481,7661.50
52,Avocado Hass Large,Fresh Produce,Avocadoes,1.50,2.50,1.00,2249.000,5622.50000,1619.00
780,Papaya Red,Fresh Produce,Tropical Fruits,0.00,5.00,5.00,2128.820,10644.10000,10625.00
162,Carrots,Fresh Produce,Carrots,0.00,1.70,1.70,2124.978,3612.46260,6698.00
507,Grapes White Seedless,Fresh Produce,Grapes,0.00,2.99,2.99,2041.871,6105.19429,7211.88
30,Apples Fuji,Fresh Produce,Apples,0.00,3.99,3.99,2030.770,8102.77230,8622.39
560,Kensington Pride Mango,Fresh Produce,Fruits,0.00,2.00,2.00,1907.234,3814.46800,1850.00
739,Nectarine Yellow,Fresh Produce,Stonefruits,0.00,2.99,2.99,1899.376,5679.13424,7702.24
584,Lemon,Fresh Produce,Citrus Fruits,0.00,2.99,2.99,1879.221,5618.87079,11009.18
804,Peaches White,Fresh Produce,Stonefruits,0.00,3.50,3.50,1771.921,6201.72350,8396.50
771,Pac Choy 3 For $2.,Fresh Produce,Deals,1.80,2.00,0.20,1746.000,3492.00000,345.80
811,Pear Corella,Fresh Produce,Pears,2.50,3.00,0.50,1744.257,5232.77100,972.50
755,Onion Brown 2Kg Large,Pantry Staples,Condiments,3.50,4.50,1.00,1731.000,7789.50000,1697.00
1059,Tomatoes Truss,Fresh Produce,Tomatoes,0.00,5.99,5.99,1717.310,10286.68690,17107.44
265,Crimson Grapes,Fresh Produce,Grapes,0.00,4.99,4.99,1710.352,8534.65648,11282.39

In [45]:
top_50_items_profit = items_df.sort_values("profit", ascending = False)
top_50_items_profit

,item_name,main_category,sub_category,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
474,Garlic Loose,Fresh Produce,Garlic,0.00,10.00,10.00,583.224,5832.24000,41770.00
484,Ginger,Fresh Produce,Other Vegies,0.00,10.00,10.00,458.882,4588.82000,37100.00
178,Cherries,Fresh Produce,Other Fruits,0.00,15.99,15.99,1113.293,17801.55507,37016.85
155,Capsicum Red,Fresh Produce,Capsicum,0.00,4.99,4.99,2407.521,12013.52979,32085.70
424,Eggplant,Fresh Produce,Other Vegies,0.00,6.99,6.99,2797.440,19554.10560,30084.96
...,...,...,...,...,...,...,...,...,...
812,Pear Nashi,Fresh Produce,Pears,4.00,2.99,-1.01,256.428,766.71972,-298.96
95,Bitter Melon,Fresh Produce,Asian Vegies,5.00,4.50,-0.50,475.511,2139.79950,-535.00
53,Avocado Hass Medium,Fresh Produce,Avocadoes,3.00,1.99,-1.01,1105.000,2198.95000,-809.01
1070,Turmeric,Fresh Produce,Root Vegies,45.00,25.00,-20.00,2.290,57.25000,-1240.00
147,Cabbage Wombok,Fresh Produce,Cabbages,3.75,1.50,-2.25,937.664,1406.49600,-1874.25

# Lecture 14
#### High level Overview Questions

## Pantry staples Section Investigation
 - what was the total_revenue generated
 - what was the total investment in pantry staple 
 - what was the total profit in pantry station

In [46]:
pantry_staples_df = items_df.loc[items_df["main_category"] == "Pantry Staples"]
pantry_staples_df

,item_name,main_category,sub_category,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
1,1Lt Coconut Oil,Pantry Staples,Oil,0.28,14.00,13.72,80.0,1120.00,439.04
2,1Lt Coconut Oil Ver,Pantry Staples,Oil,0.00,14.00,14.00,10.0,140.00,126.00
8,Adzuki Beans 500G,Pantry Staples,Grains And Pulses,2.00,2.69,0.69,68.0,182.92,46.23
10,Al Nakhil Tahina 454G,Pantry Staples,Grains And Pulses,4.00,4.99,0.99,45.0,224.55,44.55
16,Amami Papadam,Pantry Staples,Grains And Pulses,1.15,1.99,0.84,34.0,67.66,26.88
...,...,...,...,...,...,...,...,...,...
1122,Wijaya Pppadam,Pantry Staples,Papad,1.80,2.50,0.70,59.0,147.50,40.60
1123,Wijaya Roasted Curry Powder 250G,Pantry Staples,Spices,2.80,3.99,1.19,65.0,259.35,77.35
1125,Wijaya Tumaric Powder 250G,Pantry Staples,Spices,2.70,3.50,0.80,76.0,266.00,60.80
1131,Yellow Mustard Seeds 100G,Pantry Staples,Spices,0.00,2.99,2.99,3.0,8.97,8.97
1132,Yellow Split Peas 500G,Pantry Staples,Grains And Pulses,1.40,1.99,0.59,60.0,119.40,34.22

In [47]:
total_revenue = pantry_staples_df.revenue.sum()
total_profit = pantry_staples_df.profit.sum()
investment = total_revenue - total_profit
is_profitable = total_revenue>investment

print("Pantry staples analysis:")
print("Investment = ", investment)
print("Revenue = ", total_revenue)
print("profit = ", total_profit)
print("is_profitable?", is_profitable)

Pantry staples analysis:
Investment =  76798.94818180498
Revenue =  110112.26909079394
profit =  33313.32090898896
is_profitable? True

## Which item should we stop selling in pantry staples
- If an item has not sold atlest 50 units in last 2 years should be taken off

In [48]:
items_to_drop_df = pantry_staples_df.loc[pantry_staples_df["quantity"] <= 50]
items_to_drop_df.sort_values("quantity")

,item_name,main_category,sub_category,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
698,Mithas 5Kg,Pantry Staples,Rice,12.00,15.00,3.00,1.0,15.00,3.00
799,Pasta Sause Verdure,Pantry Staples,Sauces,4.00,4.99,0.99,1.0,4.99,0.99
315,Derana Chilli Sauce 350Ml,Pantry Staples,Sauces,2.40,3.50,1.10,1.0,3.50,1.10
704,Mixed Fruit Jam300Gkist,Pantry Staples,Condiments,2.00,2.80,0.80,1.0,2.80,0.80
273,Cumin Powder 100G,Pantry Staples,Spices,0.00,2.99,2.99,1.0,2.99,2.99
...,...,...,...,...,...,...,...,...,...
676,Md Tamarind Paste,Pantry Staples,Sauces,3.75,4.99,1.24,47.0,234.53,58.28
307,Derana Buriyani Mix 375G,Pantry Staples,Spices,3.40,4.99,1.59,47.0,234.53,71.55
660,Md Coconut Milk 400Ml,Pantry Staples,Coconut Products,1.00,1.99,0.99,47.0,93.53,46.53
664,Md Extra Hot Chilli Sauce,Pantry Staples,Sauce,2.75,3.50,0.75,49.0,171.50,36.75
750,Olive Oil Rusk,Pantry Staples,Oil,5.00,7.00,2.00,49.0,343.00,88.00

### Which items in pantry staples are most popular

In [49]:
most_popular_by_quantity = pantry_staples_df.sort_values("quantity", ascending = False)

### Which items in pantry staples is giving a loss

In [50]:
loss_making_df = pantry_staples_df.loc[pantry_staples_df["profit"]<0]

### Which items in pantry staples is making us the most profit

In [51]:
profit_making_df = pantry_staples_df.loc[pantry_staples_df["profit"]>0].sort_values("profit", ascending = False)

# Sub category analysis of pantry staples

In [52]:
sub_category_df = pantry_staples_df.groupby("sub_category").agg(revenue = ("revenue", "sum"),
                                                               profit = ("profit", "sum"),
                                                               quantity = ("quantity", "sum"))
sub_category_df.sort_values("quantity", ascending = False).reset_index()

         sub_category       revenue       profit  quantity
0               Pasta   6540.810000  1825.220000    4008.0
1          Condiments  18097.662727  6965.982727    3810.0
2              Spices  13747.160909  4844.394545    3447.0
3   Grains And Pulses  10801.950000  4420.240000    3284.0
4                Rice  19235.081818  4542.917273    1666.0
5                 Oil  10275.420000  2220.070000    1063.0
6   Pulses And Grains   2567.230000   825.540000    1033.0
7               Flour   3694.040000  1081.120000     945.0
8         Canned Food   1707.420000   539.550000     858.0
9              Sauces   3580.559091  1050.489091     668.0
10   Coconut Products   2437.200000   654.290000     602.0
11   Cocunut Products   5475.240000  1323.420000     442.0
12              Sugar   1642.865454   429.065454     431.0
13              Sauce   2526.490000   660.880000     427.0
14        Canned Fish   1603.620000   347.490000     389.0
15           Sardines   1561.660000   376.490000     240.0
16             Pickle    977.130000   256.200000     221.0
17         Dried Fish   1285.420000   345.480000     183.0
18                Dry    374.270000   123.540000     145.0
19            Vinegar    241.860000    58.030000      91.0
20             Baking    779.800000   170.400000      70.0
21             Spides    319.360000    76.160000      64.0
22              Papad    147.500000    40.600000      59.0
23          Condiment    332.760000   103.410000      54.0
24              Sweet     57.909091    11.431818      26.0
25             Masala     17.910000     8.910000       9.0
26             Grapes     83.940000    12.000000       6.0

In [53]:
profit_making_df.to_csv("Items making profit.csv")
loss_making_df.to_csv("Items making profit.csv")
most_popular_by_quantity.to_csv("Items making profit.csv")
items_to_drop_df.to_csv("items to drop.csv")
sub_category_df.to_csv("pantry sub category analysis.csv")

In [54]:
most_popular_by_quantity.head(15)

,item_name,main_category,sub_category,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
755,Onion Brown 2Kg Large,Pantry Staples,Condiments,3.50,4.50,1.00,1731.0,7789.50,1697.00
399,Diced Tomatoes,Pantry Staples,Pasta,0.68,0.99,0.31,973.0,963.27,151.90
790,Passata 700G,Pantry Staples,Pasta,1.00,1.49,0.49,638.0,950.62,252.84
754,Onion Brown 10Kg,Pantry Staples,Condiments,2.50,7.99,5.49,624.0,4985.76,3261.06
820,Peeled Plum Tomatoes,Pantry Staples,Pasta,0.68,0.99,0.31,519.0,513.81,85.87
751,Olive Oil Rusk 350G,Pantry Staples,Oil,3.00,4.20,1.20,453.0,1902.60,466.80
914,Red Split Lentils 1Kg Pattu,Pantry Staples,Grains And Pulses,1.75,3.50,1.75,445.0,1557.50,775.25
185,Chick Peas 400G,Pantry Staples,Grains And Pulses,0.91,1.29,0.38,432.0,557.28,104.50
756,Onion Brown 2Kg Small,Pantry Staples,Condiments,1.00,2.60,1.60,367.0,954.20,569.60
282,Daawat Everyday5Kg,Pantry Staples,Rice,9.25,12.00,2.75,286.0,3432.00,671.00
624,Magi Coconut Powder 1Kg,Pantry Staples,Cocunut Products,11.30,14.99,3.69,276.0,4137.24,988.92
979,Soya Meet Prawn 90G,Pantry Staples,Canned Food,1.00,1.99,0.99,243.0,483.57,140.58
978,Soya Meat Chicken,Pantry Staples,Canned Food,1.00,1.99,0.99,228.0,453.72,143.55
297,Delmage Soyameat Mutton 90G,Pantry Staples,Canned Food,1.00,1.99,0.99,196.0,390.04,124.74
398,Devaaya 5Kg,Pantry Staples,Rice,11.00,14.50,3.50,196.0,2842.00,665.00

In [55]:
margin_df = items_df.loc[items_df["quantity"] >= 200]
margin_df

,item_name,main_category,sub_category,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
6,3Kg Valencia Oranges,Fresh Produce,Citrus Fruits,2.0,4.50,2.50,1035.000,4657.50000,2470.00
9,Afourer Mandarin,Fresh Produce,Citrus Fruits,1.0,2.50,1.50,343.318,858.29500,711.00
25,Apple Jazz,Fresh Produce,Apples,2.0,5.99,3.99,415.818,2490.74982,2006.97
28,Apple Pink Lady 2Kg,Fresh Produce,Apples,3.0,5.00,2.00,559.000,2795.00000,1074.00
30,Apples Fuji,Fresh Produce,Apples,0.0,3.99,3.99,2030.770,8102.77230,8622.39
...,...,...,...,...,...,...,...,...,...
1096,Wash Potatoes 5Kg,Fresh Produce,Potatoes,0.0,6.00,6.00,1148.000,6888.00000,6594.00
1100,Watermelon Seedless,Fresh Produce,Melons,1.0,1.49,0.49,20791.036,30978.64364,3997.42
1110,Wholemeal Rusk 230G,Breads & Bakery,Toast,2.0,2.99,0.99,223.000,666.77000,210.87
1127,Wombok Half,Fresh Produce,Cut Veggies,2.0,2.50,0.50,586.000,1465.00000,289.50
1134,Zucchini Green,Fresh Produce,Other Vegies,0.0,3.50,3.50,2406.733,8423.56550,16110.50

In [56]:
items_df["quantile"] = pd.qcut(items_df["quantity"], 4, labels = False)
upmost_quantile_products = items_df.loc[items_df["quantile"] == 3]
upmost_quantile_products["new_margin"] =upmost_quantile_products["unit_price_margin"]*1.3
upmost_quantile_products["margin_difference"] = upmost_quantile_products["new_margin"] - upmost_quantile_products["unit_price_margin"]
upmost_quantile_products.sort_values("margin_difference", ascending = False)

<ipython-input-56-8588231fc04e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  upmost_quantile_products["new_margin"] =upmost_quantile_products["unit_price_margin"]*1.3
<ipython-input-56-8588231fc04e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  upmost_quantile_products["margin_difference"] = upmost_quantile_products["new_margin"] - upmost_quantile_products["unit_price_margin"]

,item_name,main_category,sub_category,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit,quantile,new_margin,margin_difference
178,Cherries,Fresh Produce,Other Fruits,0.00,15.99,15.99,1113.293,17801.55507,37016.85,3,20.787,4.797
198,Chilli Green,Fresh Produce,Chillies,0.00,12.00,12.00,187.048,2244.57600,20952.00,3,15.600,3.600
988,Spinach Lettuce Mix,Fresh Produce,Lettuces,0.00,11.99,11.99,261.872,3139.84528,22265.43,3,15.587,3.597
818,Peas Snow,Fresh Produce,Other Vegies,0.00,11.99,11.99,147.046,1763.08154,10383.34,3,15.587,3.597
278,Custard Apple,Fresh Produce,Tropical Fruits,0.00,10.99,10.99,159.012,1747.54188,3176.11,3,14.287,3.297
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Bitter Melon,Fresh Produce,Asian Vegies,5.00,4.50,-0.50,475.511,2139.79950,-535.00,3,-0.650,-0.150
907,Red Radish Bunch,Fresh Produce,Bunch Vegies,2.50,1.80,-0.70,412.000,741.60000,-268.80,3,-0.910,-0.210
53,Avocado Hass Medium,Fresh Produce,Avocadoes,3.00,1.99,-1.01,1105.000,2198.95000,-809.01,3,-1.313,-0.303
812,Pear Nashi,Fresh Produce,Pears,4.00,2.99,-1.01,256.428,766.71972,-298.96,3,-1.313,-0.303
147,Cabbage Wombok,Fresh Produce,Cabbages,3.75,1.50,-2.25,937.664,1406.49600,-1874.25,3,-2.925,-0.675